<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Marca</title>
    <link rel="stylesheet" href="/front/public/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Criar nova Marca</h1>
                        <form>
                            <label for="nome" class="sr-only">Nome da Marca:</label>
                            <input type="text" id="nome" name="nome" class="form-control mb-3" placeholder="Nome da Marca" required>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="cadastrarMarca()">Criar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
