<!DOCTYPE html>

<%- include('header'); %>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Node.js</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao meu projeto Node.js com EJS e Bootstrap</h1>
        <p>Este é um exemplo básico de como integrar o Bootstrap.</p>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>


<%- include('footer'); %>
