<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Marca</title>
    <link rel="stylesheet" href="/front/public/css/bootstrap.min.css">
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <h1 class="mt-4 text-align" style="text-align: center;">Criar Marca</h1>
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <form id="form-cadastrar-marca">
                    <label for="nome-marca" class="form-label">Nome da Marca : </label>
                    <input type="text" class="form-control" id="nome-marca" name="nome" required>
                    <button type="submit" class="btn btn-primary mt-2">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script src="../js/marcas.js"></script>
    <script src="../js/layout.js"></script>
</body>

</html>