<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="home.html" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="lista-marcas.html" class="nav-link link-body-emphasis px-2">Listar Marcas</a></li>
      <li class="nav-item"><a href="criar-marcas.html" class="nav-link link-body-emphasis px-2">Criar Marcas</a></li>
      <li class="nav-item"><a href="lista-modelos.html" class="nav-link link-body-emphasis px-2">Listar Modelos</a></li>
      <li class="nav-item"><a href="criar-modelos.html" class="nav-link link-body-emphasis px-2">Criar Modelos</a></li>
    </ul>
  </div>
</nav>
