<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Marca</title>
</head>
<body>
  <form id="form-cadastrar-marca">
    <label for="nome-marca">Nome da Marca:</label>
    <input type="text" id="nome-marca" name="nome" required>
    <button type="submit">Cadastrar</button>
  </form>
  <button onclick="listarMarcas()">Teste</button>
  <ul id="lista-marcas"></ul>

  <script src="../js/marcas.js"></script>
</body>
</html>
